@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Satisfy&display=swap');

h1 {
    text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	color: rgb(0, 0, 0);
	font-weight: bold;
    line-height: 20px;
    margin: 50px 20px 20px 20px;

}

h1:hover {
        color: red;
}

p {
	font-family: 'Noto Serif JP', serif;
	font-size: 12px;
	color: rgb(0, 0, 0);
	font-weight: bold;
    line-height: 20px;
    text-align: justify;
}

body {
	background-color: #dfdfdf;
}

.dogimg {
	display: flex;
	width: 100%;
	height: auto;
}

.content {
	padding: 20px;
	margin: 30px 30px 30px 30px;
}

.footer {
    padding: 20px;
    margin: 30px 30px 30px 30px;
    text-align: center;
}